{% extends 'base.html' %}
{% load static %}

{% block title %} <title>Updated details</title> {% endblock %}

{% block content %}

   {% for message in messages %}
    <div class="alert alert-{{message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
 <div class="container-fluid bg-dark text-light d-flex justify-content-between">
    <h1>The Students Filled Data</h1>
    <a class="btn btn-primary p-1 m-2" href="{% url 'sup_home' %}"> Home Page</a>
 </div>
{% if record %}
<table class="table table-bordered table-hover">
    <thead class="bg-info text-light">
        <tr>
            <th scope="col">Work</th>
            <th scope="col">Week</th>
            <th scope="col">Day</th>
            <th scope="col">Date</th>
            <th scope="col">student</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
       
        {% for student in record %}
            <tr>
                <td>{{ student.work }}</td>
                <td>{{ student.week }}</td>
                <td>{{ student.week_day }}</td>
                <td>{{ student.time }}
                <td>{{ student.student }}
                <td><a class="text-decoration-none btn btn-success" href="{% url 'approve_record' record_id=student.id%}">Review</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No students data available.</p>
{% endif %}

{% endblock %}
