{% extends 'base.html' %}
{% load static %}


{% block content %}
    
<div class="container mt-5">
    <form method="post" action="{% url 'signin' %}" id="form" class="row g-3 needs-validation " enctype="multipart/form-data">
        <h3 class="text-center">Student Sign In</h3>
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{ message }} </strong> 
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
    
            {% endif %}
        </div>
        {% csrf_token %}
        {{ form.as_p }}
        
        <input type="submit" value="login" class="btn btn-primary">
       
        <p class="text-center">Don't have account? <a href="{% url 'signup'  %}" class="text-decoration-none">register</a></p>
    </form>
</div>

{% endblock %}